header,
footer {
    background-color: #8b4513;
    text-align: center;
    font-weight: lighter;
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem;
}


header,
main,
footer {
    max-width: 850px;
    margin: 2rem auto;
}

body {
    font-family: sans-serif, Arial, Helvetica;
    background-color: white;
}

main {
    height: 200px;
    
    }

    hr {
        margin: -10px;
    }

h1,
h2 {
    font-weight: lighter;
}



img {
    float: right;
    border-radius: 0.5rem;
    margin-top: 5px;
    margin-right: 5px
}


footer a {
    color: white;
}

hr {
    width: 700px;
}

footer a:hover {
    color: red;
}

.footer-updated {
    color: yellow;
    font-size: 0.9rem;
}