/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

	/* Type rental */

	div.type-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 10px;
		margin: 10px;
		padding-bottom: 20px;

	}

	/* Contact */
	
	div.contact-us-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-gap: 5px;
	}


}

/*Validated: no errors*/