/* Display set-up for small devices: phones.
Base document for all display properties */

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* body rules here */

/* .content {
     max-width: 960px;
    
} */

body {
    font-family: Verdana;
    font-size: 16px;
    max-width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    background-color: lightcyan;
    padding: 1rem;
}

/* header rules here */
header {
    background-color: #32e0c4;
    padding: 1rem 2%;
}

header h1 {
    margin: 0;
    text-align: center;
}

header h2 {
    margin: 0;
    text-align: center;
    color: whitesmoke;
}


/* Main rules here */

main {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    background-color: lightcyan;
    padding: 1rem auto;
   }

div h3, div h4, figure, figcaption {
    text-align: center;
}

figcaption {
    font-size: 0.8rem;
}

p {
    text-align: left;
    width: 1fr;
    padding: 1rem;
}


/* Footer Rules */ 
footer {
    text-align: center;
    padding: 1rem 2%;
    background-color: #32e0c4;
}
