h2 {
    text-align: center;
}

table {
    margin: 100px auto;
}

table,
th,
td,
tr {
    border: 0.5px solid gainsboro;
    border-collapse: collapse;
    text-align: center;
    padding: 8px 15px;
    font-family: "Ubuntu", sans-serif;

}

table {
    box-shadow: 10px 10px 10px 1px #7fb9c2;
}

table thead tr th {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #7fb9c2;
}

tbody tr td.color strong{
    font-size: 1.2rem;
    
}

.color {
    background-color: steelblue;
    color: white;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

table tfoot tr td{
    font-size: 0.8rem;
    font-family: sans-serif;
    font-weight: lighter;
    background-color: #7fb9c2;
}



/*The color scheme includes #e7f0ed, #e7ffed (data rows) and #628ca6, #7fb9c2 along with standard white and black.*/